
<img src="lemon.png" class="right-lemon mt-5" alt="">

<div class="container-fluid main-2"
  style="margin-bottom: 150px;"  
 >

    <h1 style="color: #090c25;
     font-weight: 700;
     margin-top: 120px;
            text-align: center;">About The Company</h1>

    <div class="container mt-5">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4">

                    <div class="card text-center" style="border: none; padding: 10px;">
                        <div class="icon-container"
                            style="width: 100px; height: 100px; background-color: #ffe4cb; border-radius: 50%; margin: 0 auto; display: flex; justify-content: center; align-items: center;">
                            <span class="material-symbols-outlined" style="color: #FB8A22;
                                            font-size: 3rem;">military_tech</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Customer Satisfaction</h5>
                            <p class="card-text">Our customers are our top priority, and we strive to meet their
                                needs with exceptional service.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center" style="border: none; padding: 10px;">
                        <div class="icon-container" style="width: 100px; height: 100px; background-color: #ffe4cb;
                                 border-radius: 50%; margin: 0 auto; display: flex;
                                  justify-content: center; align-items: center;">
                            <span class="material-symbols-outlined" style="color: #FB8A22;
                                     font-size: 3rem;">local_dining</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Over 10 Years of Experience</h5>
                            <p class="card-text">We are proud to be leaders in the spicy food products field,
                                serving our customers with dedication.</p>
                        </div>
                    </div>
                </div>

                <!-- Gallery Card 2 -->
                <div class="col-lg-4">
                    <div class="card text-center" style="border: none; padding: 10px;">
                        <div class="icon-container"
                            style="width: 100px; height: 100px; background-color: #ffe4cb; border-radius: 50%; margin: 0 auto; display: flex; justify-content: center; align-items: center;">
                            <span class="material-symbols-outlined" style="color: #FB8A22;
                                     font-size: 3rem;">fastfood</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Quality Ingredients</h5>
                            <p class="card-text">We prioritize quality in every ingredient we use, ensuring the best
                                taste for our products.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <button type="button"  style="
          border-radius: 50px;
          width: 180px;       
          display: flex;
          justify-content: center;
         margin : 0 auto;
          " class="btn btn3">Order Now</button>
    </div>
</div>
