
<!-- <img class="img2" src="lemon.png" alt="">
<img class="img3" src="lemon.png" alt=""> -->

<div class="container  main shadow">

       <div class="container "
       style="
       position: relative;
       z-index: 1;"
       >
        <div class="row">
            <div class="col-sm-9 col-md-6">

                <h2 class="mt-3 " style="font-weight: 600;
                       margin-left: 30px;
                      ">Contact Us</h2>

                <div class=" m-3">

                    <div class="form-group ">
                        <label for="colFormLabelSm " style="margin-left: 14px;"
                            class="col-sm-3 col-form-label col-form-label-sm">Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="ml form-control form-control-sm border-0 border-bottom"
                                id="colFormLabelSm" placeholder="Enter the Name">
                        </div>
                    </div>


                    <div class="form-group mt-3">
                        <label for="colFormLabelSm " style="margin-left: 14px;"
                            class="col-sm-3 col-form-label col-form-label-sm">Email</label>
                        <div class="col-sm-7">
                            <input type="text" class="ml form-control form-control-sm border-0 border-bottom"
                                id="colFormLabelSm" placeholder="Enter the Email">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="colFormLabelSm " style="margin-left: 14px;"
                            class="col-sm-3 col-form-label col-form-label-sm">Phone</label>
                        <div class="col-sm-7">
                            <input type="text" class="ml form-control form-control-sm border-0 border-bottom"
                                id="colFormLabelSm" placeholder="Enter the Phone">
                        </div>
                    </div>

                </div>

            </div>


            <div class="col position-relative ">
                
                <div class=" d-none d-md-block" style="
                border: 0.1rem solid rgb(204, 204, 204);
                width: 1px;
                position: absolute;
                left: -0px;
                height: 300px;
                top:20px;
                "></div>
                <div class="mt-3 m-2 d-none d-md-block"></div>
                <div class="form-group ml">
                    <label for="colFormLabelSm " style="margin-left: 14px;"
                        class="col-sm-4 col-form-label col-form-label-sm">Message</label>
                    <div class="col-sm-7">
                        <textarea class="border-0" style="margin-left: 14px;" name="" id=""
                            placeholder="Write text here.."></textarea>
                    </div>
                </div>
                <a href="#" class="btn">Submit</a>
            </div>


        </div>
       </div>
  <img src="lemon.png" class="img2" alt="">
  <img src="lemon.png" class="img4" alt="">
  <img src="lemon.png" class="img1" alt="">
  <img src="lemon.png" class="img3" alt="">

</div>