<main>
        <div class="container-fluid">
            <img src="lemon.png" class="left-lemon" alt="">
            <div class="row">
        
                <div class="col-lg-5 main-1 p-5">
        
                    <h5 style="color: #FB8A22;
                width: 340px;
                padding: 4px;
                border-radius: 5px;
                text-align: center;
                  background-color: #fee1d2;
                ">WELCOME TO OUT RESTAURANT</h5>
        
                    <h1>Delicious Foods For Every Occasion And Festival</h1>
                    <p style=" margin-top: 100px; color: #090c25;">Delicious Foods For Every Occasion And Festival Delicious
                        Foods For Every Occasion And Festival
                        Delicious Foods For Every Occasion And Festival</p>
        
                    <button type="button" class="btn btn btn3">Order Now</button>
                </div>
        
                <div class="col-lg-7 home-img">
                    <img src="lemon.png" class="left-lemon2" alt="">
        
                    <img src="home.png" class="img-fluid img-main" alt="">
        
                    <div class="card card-1 " style="
                                border-radius: 20px;
                                width: 14rem;">
                        <div style="background-color: rgb(225, 225, 225);
                                border-radius: 15px;
                                margin: 10px; ">
                            <img src="pasatahome.png" class="card-img-top img1">
                        </div>
        
                        <div style="margin-left: 13px;">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Salad Special</h5>
                                <i class="bi bi-heart" style="margin-right: 18px;
                                    font-weight: 900;
                                    font-size: 1.2rem;"></i>
                            </div>
                            <div class="d-flex">
                                <i class="bi bi-star-fill" style="font-size: 1.3rem;
                                color: #FB8A22;">
        
                                </i>
                                <h5 style="font-weight: 700;
                        margin-top: 5px;
                        margin-left: 10px;">5.0</h5>
                            </div>
        
                        </div>
                    </div>
        
                    <div class="card card-2" style="
                  border-radius: 20px;
                  width: 14rem;">
                        <div style="background-color: rgb(225, 225, 225);
                    border-radius: 15px;
                    margin: 10px;
                    "> <img src="chicken.png" class="card-img-top img1  " alt="..."></div>
                        <div style="margin-left: 13px;">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Salad Special</h5>
                                <i class="bi bi-heart" style="margin-right: 18px;
                          font-weight: 900;
                          font-size: 1.2rem;"></i>
                            </div>
                            <div class="d-flex">
                                <i class="bi bi-star-fill" style="font-size: 1.3rem;
                          color: #FB8A22;">
        
                                </i>
                                <h5 style="font-weight: 700;
                          margin-top: 5px;
                          margin-left: 10px;">5.0</h5>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
     
</main>